<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="css/contact.css">
        <title>Contact Page</title>
        <meta http-equiv="refresh" content="120">
    </head>
    
    <body>
        <%= erb :header %>
        <main>
        
    <h2>Help us to get feedback about our website :in that form, include everything you think that might interest us.</h2>
            <br>
        
    <p>2. A Form to send comments about our website</p>
        <form action="mailto:mfontana1@sheffield.ac.uk" method="post" enctype="text/plain">
        Name:<br>
        <input type="text" name="name" placeholder="Your e-mail goes here..."><br>
        E-mail:<br>
        <input type="text" name="mail" placeholder="Your name goes here..."><br>
        Comment:<br>
        <input type="text" name="comment" size="50" placeholder="Tell us how to improve our website"><br><br>
        <input type="submit" value="Send">
        <input type="reset" value="Reset">
        </form>
            
        </main>
        
    </body>
    
    <%= erb :footer %>

