<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/contact.css">
        <title>Contact Page</title>
    </head>
    
    <body>
        <%= erb :header %>
        <main>
        
            <h1>Help us by sending feedback about our website, using the form below.</h1>
            <br>
        
            <form action="mailto:mfontana1@sheffield.ac.uk" method="post" enctype="text/plain" id="contact_form">
                Name:<br>
                <input type="text" name="name" placeholder="Your name goes here..."><br>
                E-mail:<br>
                <input type="text" name="mail" placeholder="Your e-mail goes here..."><br>
                Comment:<br>
                <textarea name="comment" rows="10" cols="30" placeholder="Tell us how to improve our website..."></textarea> <br>
                <input type="submit" value="Send">
                <input type="reset" value="Reset">
            </form>
            
        </main>
        
    </body>
    
    <%= erb :footer %>

