<!DOCTYPE html>
<html lang="en">
      <head>
          <title> THINGS ON POINT</title>
          <meta charset="UTF-8">
          <link rel="stylesheet" href="./style/_account.css">

    </head>
    <body>
        <%= erb :header %>
        <h1>SHOP APOTHEOSIS</h1>
        <p> create an account</p>
        <form action="makeaccount" method= "post">
            <label for="Fname">Twitter screename: </label>
            <input type="text" name="username" id="Fname"  maxlength="10" value="<%=h params[:username]%>" placeholder="input user name.....">
            <br>
            <label for="pass"> Password: </label>
            <input type="password" name="password" id="pass"  maxlength="20" value="<%=h params[:password]%>" placeholder="input password....">
            <br>
            <input type="submit" value="submit">      
        </form>
        
        <p><a href="login">login into your account</a><p>
            
    </body>
</html>
    