<!DOCTYPE html>
<html lang="en">
      <head>
          <title> Create account</title>
          <meta charset="UTF-8">
          <link rel="stylesheet" href="css/create_account.css">

    </head>
    <body>
        
        <h1>create account</h1>
        
        <form action="makeaccount" method= "post">
            
       <input type="text" name="userhandle" id="Fname"  maxlength="" value=""
                                              placeholder="input twitter screen name....."><br>
            
       <input type="text" name="email" id="uname"  maxlength="" value=""
                                              placeholder="input email....."><br>
           
        <input type="password" name="password" id="pass"  maxlength=""
                                           placeholder="input password...."><br>
            
        <input type="password" name="repeat_password" id="pass2"  maxlength=""
                                           placeholder="repeat password...."><br>
            
            
            <input type="submit" value="submit">
            <input type="button" name="logger" value="login" onclick="login()">  
            
            
        </form>
        
       <script>
           
           function login(){
               window.location.href="/login";
           }
           
        </script>
            
    </body>
</html>
    