<!DOCTYPE html>

<html lang="en">
    
<head>
    <meta charset-"utf-8">
    <link rel="stylesheet" href="css/main.css" type="text/css" >
    <link rel= "stylesheet" href="css/styleError.css" type="text/css" />
    <title> 404 Error</title>
</head>
    
<body>
    <header> 
        <p><img src ="imgs/timg.jpg" /></p>
        <p>Sorry, this address can not be found.</p>
        <p>You can try the following method to solve it:</p>
    </header>
    
    <main>
        <hygroup>
            <h1>Method 1: Return the last page by click "Back" button in the Upper left corner</h1>
            <h2>Method 2: Click the following link to contact us : <a href="../">HomePage</a> | <a href="*****">Contact us</a> </h2>
        </hygroup>
    </main>
    <%= erb :footer %>
</body>
    
</html>
