<link rel="stylesheet" href="./css/AfterLogHeader.css">
<header>
	<div>
		<ol class = "nav-mask">
            <li class="HomeUpperHeadBox"><a href="/home">Home</a></li>
			<li class="HomeUpperHeadBox"><a href="*****">Help</a></li>
			<li class="HomeUpperHeadBox"><a href="*****">My History</a></li>
			<li><img src = "imgs/accountNickPhoto.jpg" alt="accountNickPhoto" width = "35px"> 
			<a href="/personalInformationPage">Personal information</a></li>
			</ol>
		</div>
	</header>