<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/homepage_style.css">
        <script src="js/table_menu.js"></script>
        <title>Homepage</title>
        <meta http-equiv="refresh" content="120">
    </head>
    
    <body>
        <%= erb :header %>
            <main>
                <!-- session debugging-->
                <% if session[:logged_in] %>
                    <p>You are logged in since <%= session[:logged_time].strftime("%d-%m-%Y %H:%M:%S") %></p>
                <% end %>
                
                <div id="totalPart">
                    <!-- part 1 -->
                    <div class="grid-container">

                        <!-- part1 -->

                        <div class="item1">
                            <img src="imgs/bookingInstruction.png" href="img/bookingInstruction.png">
                        </div>
                        <div class="item2" id="messageBox">
                            <p id="partTitle">Booking Instructions</p>
                            <br>
                            <div id="textLeft">

                                <p id="messageTitle">Twitter: </p>							
                                <p>Firstly, the booking system is based entirely on Twitter, which can help us to transmit inforamtion quicker and more conveniently.
                                 So your twitter handle is needed for creating account.</p>
                                <br>
                                <br>

                                <p id="messageTitle">Booking : </p>							
                                <p>Our team can learn any extra information via replies, and create the booking after user interactions.</p>
                                <br>


                            </div>
                        </div>


                        <!-- part2 -->
                        <div class="item3">
                            <img src="imgs/whyAccount.png" href="img/whyAccount.png">
                        </div>
                        <div class="item4" id="messageBox">
                            <p id="partTitle">Why you need an account?</p>
                            <br>
                            <div id="textLeft">

                                <p id="messageTitle">One: </p>
                                <p>You can enjoy the extra benefits provied by our team, like future bonuses and discounts.</p>
                                <br />

                                <p id="messageTitle">Two: </p>
                                <p>Helps you to deal with the booking easily and record the information from previous rides.</p>
                                <br />

                                <p id="messageTitle">Three: </p>
                                <P>Saves time for people by choosing the car which is in the best interest of the user.</p>
                                <br />

                            </div>
                        </div>


                        <!-- part 3 -->
                        <div class="item5">
                            <img src="imgs/bookingArea.png" href="img/bookingArea.png">
                        </div>
                        <div class="item6">
                            <p id="partTitle">Car Type</p>
                            <br>
                            <div id="textLeft">
                                <p id="messageTitle">Standard: </p>
                                <p>Suitable for 1-4 people.</p>
                                <br />

                                <p id="messageTitle">Luxury: </p>
                                <p>Similar to the standard, but the car will have better quality, which can provide a more comfortable experience, with a slight cost increase.</p>
                                <br />

                                <p id="messageTitle">Mini Van: </p>
                                <p>Larger model will have more seats, which is suitable for group activities and events.</p>
                                <br />

                            </div>
                        </div>
                    </div>
                </div>         
             </main>
    </body>
    <%= erb :footer %>
