<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/home_layout.css">
        <script src="js/table_menu.js"></script>
        <title>Homepage</title>
        <meta http-equiv="refresh" content="120">
    </head>
    
    <body>
        <%= erb :header %>
            <main>
                <div class="marqueeBox">
                    <marquee id="scrollbar" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="" width="100%">Someone WILL finish this page!</marquee>
                </div>
        
            <% if session[:logged_in] %>
                <br /><br /><br /><br />
                <p>You are logged in since <%= session[:logged_time].strftime("%d-%m-%Y %H:%M:%S") %></p>
                <a href="/session_clear">Log Out</a>
            <% end %>
                
                		<div class="grid-container">
                            <div class="item2">
                                <div class="activities">
                                    <p>There should provide some activities which stored in database</p>
                                    <p>we could use list todo in ruby file</p>
                                    <p>1</p>
                                    <p>2</p>
                                </div>
                            </div>
                            <div class="item3">
                                <figure class="bookingArea"><img src="imgs/bookingArea.jpg" width = "100%">
                                <figcaption><a href="./bookingArea.erb" >Booking</a></figcaption></figure>
                            </div>
                            <div class="item4">
                                <div class="activities">
                                    <p>There should provide some rights</p>
                                    <p>1</p>
                                    <p>2</p>
                                </div>
                            </div>
                            <div class="item5"><a href="./home.erb">Contact US</a></div>
                        </div>
                  <p class="abc"><a href="/twitter_search">Admin Search Page</a></p>
             </main>
         <%= erb :footer %>
