<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <title>Homepage</title>
    </head>
    
    <body>
        <%= erb :header %>
            <main>
                
                <% if session[:logged_in] %>
                    <p>You are logged in since <%= session[:logged_time].strftime("%d-%m-%Y %H:%M:%S") %></p>
                    <a href="/session_clear">Log Out</a>
                <% end %>
             </main>
         <%= erb :footer %>
