<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="js/table_menu.js"></script>
        <title>Homepage</title>
        <meta http-equiv="refresh" content="120">
    </head>
    <body>
        <h1>Homepage</h1>
        <marquee id="scrollbar" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="4">Someone WILL finish this page!</marquee>
        <br /><br /><br /><br />
        <p>Login section will go here.</p>
        <br /><br /><br /><br />
        <p>Use details here.</p>
        <br /><br /><br /><br />
        <a href="/twitter_search">Admin Search Page</a>
    <%= erb :footer %>