<!DOCTYPE html>
<html>    
    <head>
        <link rel="stylesheet" type="text/css" href="css/login.css">
        <title>Login</title>
    </head>     
    <body>
        <h1>Login</h1>
        <section>
            <p> We ensure safe transfer of data and password protection when you sign up to be part of us.<br>
                By clicking register,you agree to our terms.How we collect your data and share your information within our policy.  
            </p>
            <a href="/home" id="Home without Login">
                <button name="intro">Home without Login</button>
            </a>
        </section>
       
        <form action="login" method="post">
            <% if @wronglogin %>
                <div>
                    Wrong email or password, please try again.    
                </div>   
            <% end %> 
            <div class="emailDiv">
                <input type="text" name="useremail" placeholder="Email Address" id="idEmail" maxlength="" value="" required><br>
            </div>                                  
            
            <div class="passDiv">
               <input type="password" name="password" placeholder="Password" id="idPass" maxlength="" value="" required><br> 
            </div>
            
            <div class="loginBtns">
               <input type="submit" value="Login">  
               <a href="/create_account" id="Register" ><input type="button" name="register" value="Register"></a>
            </div>
               
        </form>      
    </body>
<%= erb :footer %>