<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/login.css">
            <title>Login</title>
    </head>
    <body>
        
        <h1>Login</h1>
        
        
        <section>
            <p> We ensure safe transfer of data and password protection when you sign up to be part of us.<br>
                By clicking register,you agree to our terms.How we collect your data and share your information within our policy.  
            </p>
            <button name="intro" onClick="window.location.href='/home'">Home without Login</button>
        </section>
       
        <form action="login" method="post">
            
            
            <div class="emailDiv">
                <input type="text" name="useremail" placeholder="Email Address" id="idEmail" maxlength="" value="" required><br>
            </div>                                  
            
            <div class="passDiv">
               <input type="password" name="password" placeholder="Password" id="idPass" maxlength="" value="" required><br> 
            </div>
            
            <div class="loginBtns">
               <input type="submit" value="Login">  
               <input type="button" name="register" value="Register" onClick="window.location.href='/create_account'">
            </div>
                
        </form>      
    </body>
<%= erb :footer %>