<h1>Login</h1>
       
<form action="login" method="post">
    <label for="logger">Username:<input type="text" name="userlog" value="" id="logger" maxlength="20"></label><br>
    <label for="pass1">Password:<input type="password" name="password1" id="pass1" maxlength="20" value=""></label><br>
    <input type="submit" value="submit">   
</form>
<p><a href="/create_account">Create an account</a><p>