<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <title>Login Page</title>
    </head>
    
    <body>
        <h1>Login</h1>
       
        <form action="login" method="post">
            <label for="logger">Email:<input type="email" name="userlog" value="<%=h params[:userlog]%>" id="logger" maxlength="40"></label><br>
            <label for="pass1">Password:<input type="password" name="password1" value="<%=h params[:password1]%>" id="pass1" maxlength="20" value=""></label><br>
            <input type="submit" value="submit">   
        </form>
        <% if @wrong %>
            <p id = "warning">Wrong information. Please try again</p>
        <% end %>
        <p><a href="/create_account">create an account</a><p>
        
        <%= erb :footer %>
