<!DOCTYPE html>

<html lang="en">
    
<head>
    <meta charset-"utf-8">
    <link rel="stylesheet" href="css/main.css" type="text/css" >
    <link rel= "stylesheet" href="css/styleError.css" type="text/css" />
    <title> 500 Error</title>
</head>
    
<body>
    <header> 
        <p><img src ="imgs/error.jpg" /></p>
    </header>
    
    <main>
        <p>You can try to refresh or <a href="*****">back to previous page.</a></p>
    </main>
    <%= erb :footer %>
</body>
    
</html>
