<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="./css/personal.css">
        <title>Personal inforamtion</title>
    </head>
    
    <body>
        <%= erb :header %>
        <main>
			<form action="*****">
				<table>
					<tr>
						<th>User name:</th>
						<td><input type="text" name="username" value="aaaaaaa"></td>
					</tr>
					<tr>
						<th> </th>
						<td> </td>
					</tr>
					<tr>
						<th>Password:</th>
						<td><input type="text" name="password" value="123456"></td>
					</tr>
					<tr>
						<th> </th>
						<td> </td>
					</tr>
					<tr>
						<th>Email:</th>
						<td><input type="text" name="email" value="******@sheffield.ac.uk"></td>
					</tr>
				</table>
				<br>
				<input type="submit" value="Edit">
			</form>
        </main>
        <%= erb :footer %>            
    