<!DOCTYPE htmml>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>kahunt</title>
    </head>
    <body>
        <h1>copycat</h1>
        <p>time to buy things</p>
        <p>made moon</p>
        <p><a href="shop_clear">logout your account</a><p>
    </body>
</html>