body {
	text-align: left;
	min-width: 1300px;
}

.informationBar {
	width: 25%;
	float: left;
	text-align: center;
	margin: 3% 10% 1% 8%;
	border: solid;
	height: 100%;
}

table {
    padding-top: 5%;
}

tr {
	height: 40px;
}

#thediv {
	border-top: solid;
	padding-top: 3%;
	padding-left: 18%;
	margin: 0 auto;
	float: left;
	width:82%;
	display: none;
	margin-bottom: 30px;
}

.table2 {
	padding: 0;
	border: 1px solid #b7b7b7;
}

a:hover {
    font-weight: bold;
}