/* ADMIN PAGE LAYOUT ONLY */

#bodyDiv {
    display: grid;
    margin-bottom: 45px;
    grid-template-columns: 50% 32% 16%;
    grid-template-rows: 270px 190px 150px;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    justify-items: stretch;
    align-items: stretch;
 }

h1 {
    font-size: 3em;
    font-family: "Arial";
    margin: 10px 0 10px 0;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
  background-color: #FFE5CC;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #B7B7B7;
  padding: 2px 3px;
}
tbody td {
  font-size: 13px;
}

#searchTable {
    grid-column: 1;
    grid-row: 1 / 4;
    display: block;
    overflow-y: scroll;
}
#searchTable tr:nth-child(even) {
  background: #D0E4F5;
}
#searchTable tr:nth-child(odd) {
  background: #FFFFFF;
}
#carTable th {
    background: #CCFFCC;
}

#bookingForm {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    border: 1px solid black;
    background-color: #FFE5CC;
    padding: 2px;
}

#replyform {
    grid-column: 2;
    grid-row: 2;
    text-align: left;
    border: 1px solid black;
    background-color: #FFE5CC;
    padding: 2px;
    opacity: 9%;
}
#replyText {
    width: 100%;
}

#giveawayForm {
    grid-column: 2;
    grid-row: 3;
    text-align: left;
    border: 1px solid black;
    background-color: #FFE5CC;
    padding: 2px;
    opacity: 9%;
}

#carTable {
    grid-column: 3;
    grid-row: 1 / 3;
    width: 100%;
}
#carTable th {
    text-align: center;
    font-size: 16px;
    height: 30px;
}
#carTable td {
    text-align: center;
    font-size: 14px;
    height: 40px;
    background-color: white;
}

#free {
    color: green;
    font-style: bold;
}
#busy {
    color: red;
    font-style: bold;
    border: none;
    background-color: white;
    text-decoration: none;
}

.flash {
    width: 100%;
    border: 1px solid black;
}
.error {
    background-color: red;
}
.success {
    background-color: green;
}