/* CREATE CONTACT PAGE LAYOUT ONLY */

* {
    margin:0;
    padding:0;
}

body {
    background-color:#FFCC99;
    
}

body h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align:center;
}


p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align:center;
    
}

#contact_form{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color:#FFCC99;
    position: relative;
    width:30%;
    border:solid 1px red;
    left:35%;
    padding: 10px;
}