/* CREATE ACCOUNT PAGE LAYOUT ONLY */

* {
    margin:0;
    padding:0;
}

body {
   background-color: #ffcc99;
}

h1 {
    font-size: 2.5em;
    padding-top: 4%;
}

form {
    position:absolute;
    top:15%;
    left:25%;
    border:solid 1px orange;
    border-radius:50px;
    width:50%;
    height:60%;
}

input[type=text],input[type=password] { 
    position:relative;
    left:0;
    top:10%;
    width:80%;
    height:10%;
    margin:8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing:border-box;
    font-size: 1.5em;
}

input[type=submit] {
    background-color:lightskyblue;
    position:relative;
    border-radius:4px;
    top:10%;
    left:0;
    width:20%;
    height:10%;
}

input[type=button] {
    background-color:lightgray;
    position:relative;
    border-radius:4px;
    left:0;
    width:20%;
    height:10%;
    top:10%;
}
