/* HEADER ONLY */

a {	
    text-decoration: none;
    color: black;
}    

img {
    max-width: 100%;
}

header {
	background: url('../imgs/header.jpg');
	height:200px;
	background-size:cover;
}

header div ul {
	margin:0;
	text-align:right;
}

header div ul li{
	height:100%;
	padding:10px;
	display: inline;
	text-align:left;	
	font-size:1.5em;
	font-weight:bold;
	border-left-style: solid;
}	

.nav-mask {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 38px;
    background-color: hsla(0,0%,100%, 0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}