/*THIS CSS FOR OVERALL LAYOUT, COLOURS, FONTS ETC OF ALL PAGES*/

body {
    margin: 0;
    background-color: #FFCC99;
}

h1 {
    font-size: 3em;
    font-family: "Arial";
}

#scrollbar {
	text-align: center;
    font-family: "Arial";
    font-size: 1.5em;
    border: 1px solid black;
    padding: none;
    margin: none;
}

.loginBox {
    float:right;
    padding-right:5%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  background-color: #FFCC99;
}