body {
	font-family: "arial, helvetica, sans-serif";
	text-align: left;
	font-size: 1.2em;
	min-width: 1300px;
}

.putInMid {
	width: 60%;
	margin: 0 auto;
}

.informationBar {
	width: 25%;
	float: left;
	text-align: center;
	margin: 3% 10% 1% 8%;
	border: solid;
	height: 100%;
}

.totalCentre {
	width: 80%;
	margin: 0 auto;
}

tr {
	height: 40px;
}

#thediv {
	border-top: solid;
	padding-top: 3%;
	padding-left: 18%;
	margin: 0 auto;
	float: left;
	width: 100%;
	display: none;
	margin-bottom: 30px;
}

.table2 {
	padding: 0;
	border: 1px solid #b7b7b7;
}