/* ADMIN PAGE LAYOUT ONLY */

h1 {
    font-size: 3em;
    font-family: "Arial";
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  background-color: #FFFFFF;
  width: 50%;
  left: 10%;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #B7B7B7;
  padding: 2px 3px;;
}
tbody td {
  font-size: 13px;
}
tr:nth-child(even) {
  background: #D0E4F5;
}
thead {
  background: #000000;
  border-bottom: 1px solid #444444;
}
thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}

#dropdownButton {
    border: none;
    background-color: lightgray;
}

.dropdownOptions {
    display: none;
    position: absolute;
}
.showOptions {
    display:block;
}