<html>
<head>
</head>
<body>
    
    <% if @remember_me2 == true %>

    <form action="loginwithcheck" method="post">
            
            <!--<label id=lab1 for="logger">Username</label><br>-->
            
            <div class="in">
                <input type="text" name="userlog" value="<%= request.cookies['mail'] %>" placeholder="Username" id="logger" maxlength=""><br>
            </div>                                  

            <!--<label id=lab2 for="pass1">Password</label><br>-->
            
            <div class="in1">
               <input type="password" name="password1" placeholder="password"
                      id="pass1" maxlength="" value="<%= request.cookies['pass'] %>"><br> 
            </div>

            <div class="remember_me">
              <input type="checkbox" name = "remember_me"
                     id = "myCheck" value="" onclick="is_it_checked()"><br>
            </div>
            
            <div class="allnav">
                <input type="button" value="login" onlick="redirect()">  
               <input type="button" name="register" value="Register" onclick="redirect()">
                <input type="button" name="guest" value="Guest">
            </div>
                
        </form>
    
    <% else %>

    <form action="loginwithoutcheck" method="post">
            
            <!--<label id=lab1 for="logger">Username</label><br>-->
            
            <div class="in">
                <input type="text" name="userlog" value="" placeholder="Username" id="logger" maxlength=""><br>
            </div>                                  

            <!--<label id=lab2 for="pass1">Password</label><br>-->
            
            <div class="in1">
               <input type="password" name="password1" placeholder="password"
                      id="pass1" maxlength="" value=""><br> 
            </div>

            <div class="remember_me">
              <input type="checkbox" name = "remember_me"
                     id = "myCheck" value="" onclick="is_it_checked()"><br>
            </div>
            
            <div class="allnav">
                <input type="button" name="login" value="Login" onclick="redirect()">  
               <input type="button" name="register" value="Register" onclick="window.location.href='/'">
                <input type="button" name="guest" value="Guest">
            </div>
                
        </form>
    
    <% end %>
    
    <script>
    function is_it_checked() {
    // Get the checkbox
          var checkBox = document.getElementById("myCheck");
          var remember_me;


   // If the checkbox is checked, set cookies
          if (checkBox.checked == true){
              return true}
          else{
              return false
          }
    }
        
     function redirect(){
         if (is_it_checked()){
             window.location.href='/loginwithcheck';}
         else{
             window.location.href='/loginwithoutcheck';}
     }
        
     function retrieve_value() {
         var value = document.getElementById("")
     }
             
        
            

    </script>
    
</body>
</html>